.workspace {
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.editor-scroll {
  position: absolute;
  top: 0;
  left: 0;
  right: -14px;
  bottom: -14px;
  overflow: auto
}


.editor-container {
  width: 2000px;
  height: 2000px;
  position: relative;
  background: #F0F0F0;

  /*touch-action: manipulation;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: scale(1);
  -webkit-font-smoothing: subpixel-antialiased;*/
}

svg {
  height: 2000px;
  width: 2000px;
  position: relative;
}

