<header class="navbar navbar-light navbar-fixed-top navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
          [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" (click)="navbarCollapsed = true">ng-bootstrap</a>

  <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="navbarCollapsed = true">Getting Started</a>
      </li>
    </ul>
  </div>

  <div class="navbar-collapse navbar-right">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="toggleJsonBar()">Json View</a>
      </li>
    </ul>
  </div>
</header>
